.item {
    font-size: 1.2rem;
    list-style-type: none;
    padding: 1rem 0;
    border-bottom: 1px solid #ccc;
}

.checkbox {
    margin-right: 1rem;
    margin-left: 0.5rem;
}

.item button {
    font-size: 1.5rem;
    background: #fff;
    border: none;
    cursor: pointer;
    float: right;
    outline: none;
    margin: 0 1rem 0 0;
}

.textInput {
    width: 100%;
    padding: 1rem;
    border: 1px solid #dfdfdf;
}